{% extends "base_layout.html" %}
{% load static %}
{% block title %} Create article {% endblock title %}
{% block content %}
<h1>Create article</h1>
<form class="form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-fields">
        {% for field in form %}
            <div class="form-field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                <div class="help-text">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                <div class="error-text">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button class="create_articles__button" type="submit">Create article</button>
</form>
{% endblock content %}